%aside.partners
  %h4 Partners
  %ul
    = link_to image_tag("canon", :alt=> "Canon"), 'http://www.usa.canon.com/cusa/healthcare/products'
    = link_to image_tag("konica", :alt=> "Konica Minolta"), 'http://www.konicaminolta.com/medicalusa/products/dr_solutions'
    = link_to image_tag("umg", :alt=> "UMG/Del Medical"), 'http://www.delmedical.com/'
    = link_to image_tag("quantum", :alt=> "Quantum Medical Imaging, LLC"), 'http://www.quantummedical.net/'
    = link_to image_tag("carestream", :alt=> "Carestream"), 'http://www.carestream.com/default.aspx?LangType=1033'
    = link_to image_tag("fujifilm", :alt=> "Fujifilm"), 'http://www.fujifilmusa.com/products/medical/index.html'
    = link_to image_tag("varian", :alt=> "Varian"), 'http://www.varian.com/us/xray/products/digital_radiography/'
    = link_to image_tag("mavig", :alt=> "Mavig"), 'http://www.mavig.com/'
    = link_to image_tag("nhd", :alt=> "NHD"), 'http://nhd.net/'
